$font-weight-bold: 1000;
$font-weight-normal: 500;
$font-weight-light: 400;

$light: #ece8e1;
$dark: #271d26;
$primary: #ff4655;
$secondary: #4d424b;

$link-color: $dark;

//
::-webkit-scrollbar {
  width: 0px;
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

//
#btn-back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: none;
}
//
.custom-main-text {
  width: min(100%, 650px);
}
//
.custom-exp-icon {
  width: 96px;
  height: 96px;
}
//
.custom-nav-link {
  width: 125px;
}
.active {
  background-color: $primary !important;
}
//
@media (min-width: 992px) {
  .custom-nav-link {
    width: 200px;
  }

  .hoverEffect {
    position: relative;
  }
  .hoverEffect:hover {
    color: $light !important;
  }
  .hoverEffect::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  .hoverEffect:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .hoverEffect::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: $dark;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .contactBTN:hover {
    background-color: $primary !important;
  }
  //work css

  .custom-project-card {
    transition: 0.2s ease-in;
    height: min(100%, 500px);
  }
  .custom-project-card:hover {
    transition: 0.2s ease-out;
    border: 1px solid $secondary;
  }
  .contact-icon {
    transition: 0.2s ease-out;
  }
  .contact-icon:hover {
    transition: 0.1s ease-in;
    background-color: $primary !important;
  }
  //contact css
}

//IMPORT BOOTSTRAP 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
