body {
  font-family: "Poppins", sans-serif;
}
$font-weight-bold: 1000;
//theme colors
$pink-orange: #ff4655;
$dark-blue: #0f1923;
$dark-color: #271d26;
$dark-colorII: #6b6069;

//white-black
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $pink-orange;
$secondary: $dark-colorII;
$dark: $dark-color;

$link-color: $dark;

#btn-back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: none;
}
.custom-main-text {
  width: min(100%, 650px);
}
.custom-exp-icon {
  width: 96px;
  height: 96px;
}
.custom-mini-icon {
  width: 32px;
  height: 32px;
}
.nav-link:hover {
  border: 1px solid $dark !important;
}
.active {
  background-color: $dark !important;
}

@media (min-width: 992px) {
  .resumeBtn:hover {
    color: $white !important;
  }
  .resumeBtn::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  .resumeBtn:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .resumeBtn::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: $dark;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .resumeBtn {
    position: relative;
  }
  .contactBTN:hover {
    background-color: $primary !important;
  }
  .work-tile {
    transition: 0.2s ease-out;
  }
  .work-tile:hover {
    transition: 0.2s ease-in;
    transform: scale(0.99);
    opacity: 0.95;
  }
  .custom-project-card {
    height: min(100%, 450px);
  }
  .contact-link:hover {
    border: 1px solid $secondary !important;
  }
}
//IMPORT BOOTSTRAP 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";
