@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "overwatchregular";
  src: url("overwatch.woff2") format("woff2"), url("overwatch.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgrColor: #303036;
  --bgrColorII: #202027;

  --lightColor: #eeeeee;
  --mediumColor: #8e8785;
  --darkColor: #303036;

  --mainColor: #f3661c;
  --mainColorII: #ef9920;

  --borderRadius: 5px;
  --boxShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #271d26;
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
main {
  background-color: var(--bgrColorII);
  border: 4px solid var(--darkColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  padding: 3rem 2rem 1.5rem 2rem;
  margin: 3rem 2rem;
}
/*/////////////////////////////////////*/
.header {
  background-color: var(--lightColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  padding: 1rem 1.5rem;
  text-align: center;
}
.header-title {
  color: var(--darkColor);
  font-family: "overwatchregular";
  font-size: 32px;
}
.header-subtitle {
  color: var(--mediumColor);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 13px;
}
/*/ ////////////////////////////////////*/
.search-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
input,
button {
  transition: 0.2s;
  border: 2px solid transparent;
  font-family: "Poppins", sans-serif;
  color: var(--mediumColor);
  border-radius: var(--borderRadius);
  background-color: var(--darkColor);
  box-shadow: var(--boxShadow);
  font-size: 32px;
  text-align: center;
  font-weight: 1000;
}
.search-input {
  font-size: 32px;
  height: 48px;
  width: 100%;
}
input:focus {
  color: var(--lightColor);
  outline: 2px solid var(--lightColor);
}
.search-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}
.search-battletag-input {
  height: 32px;
  font-size: 16px;
  width: 100%;
}
.input-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-server-btn {
  font-size: 16px;
  height: 32px;
  width: fit-content;
  padding: 0 1rem;
  margin-left: 0.5rem;
  color: var(--mediumColor);
}
.active {
  background-color: transparent;
  border: 2px solid var(--darkColor);
}
.search-btn {
  height: 48px;
  font-size: 32px;
  font-weight: 1000;
  text-transform: uppercase;
  width: 100%;
  color: var(--mediumColor);
  background-color: var(--darkColor);
  border: 1px solid transparent;
  transition: 0.2s;
}
.search-btn:hover {
  border: 1px solid var(--lightColor);
  color: var(--lightColor);
  cursor: pointer;
  transition: 0.3s;
}
.search-btn:active {
  transform: scale(0.95);
}
button:hover {
  cursor: pointer;
  border: 2px solid var(--mediumColor);
  background-color: transparent;
  transition: 0.3s;
}
/*/////////////////////////////////////*/
.content-area {
  margin-top: 2rem;
}
.content-header {
  padding: 1.5rem 3rem 0.75rem 3rem;
  background-color: var(--lightColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  color: var(--darkColor);
}
.content-header-title {
  width: fit-content;
  text-transform: uppercase;
  border-bottom: 1px solid var(--mediumColor);
  line-height: 20px;
  font-size: 24px;
  font-weight: 1000;
}
.content-header-battletag {
  padding-top: 0.5rem;
  color: var(--mediumColor);
  font-size: 16px;
  font-weight: 1000;
}
.content-header-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.content-header-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--lightColor);
  background-color: var(--darkColor);
  border: 2px solid var(--darkColor);
  border-radius: var(--borderRadius);
  width: 48px;
  height: 48px;
}
.content-header-info {
  margin-left: 1rem;
}
.content-header-level {
  border-bottom: 1px solid var(--mediumColor);
}
.content-header-level span,
.content-header-gamesWon span {
  font-weight: 1000;
}
.content-main {
  padding: 1.5rem 3rem 0.75rem 3rem;
  background-color: var(--lightColor);
  border-radius: var(--borderRadius);
  color: var(--darkColor);
  box-shadow: var(--boxShadow);
  margin-top: 1rem;
}
.content-main-title {
  line-height: 20px;
  width: fit-content;
  font-size: 24px;
  font-weight: 1000;
}
.content-main-subtitle {
  color: var(--mediumColor);
  font-size: 13px;
  font-weight: 500;
}

.content-main-rank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0rem 1rem;
  color: var(--lightColor);
  background-color: var(--darkColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  width: 75%;
}
.rank-icon {
  width: 24px;
  height: 24px;
  margin: 0.25rem 0;
}
.rank-name {
  font-weight: 500;
  margin-left: 1rem;
  flex: 1;
}
.rank-score {
  font-weight: 1000;
}
.rank-score span {
  font-weight: 500;
}
.main-title-private {
  width: 50%;
  font-size: 48px;
  font-weight: 1000;
  line-height: 50px;
}
.main-subtitle-private {
  width: 90%;
  color: var(--mediumColor);
  border-top: 1px solid var(--darkColor);
}
.content-error-text {
  width: min(100%, 350px);
  font-weight: 1000;
  font-size: 24px;
}
.content-error-text ul {
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 13px;
}
.content-header-loading {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-loading {
  border: 16px solid var(--darkColor);
  border-top: 16px solid var(--lightColor);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*/ ////////////////////////////////////*/
footer {
  opacity: 0.5;
  margin-top: 4rem;
  font-weight: 500;
  color: var(--mediumColor);
  font-size: 10px;
  text-align: center;
}
