@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --mainC: #f2f2f2;
}
body {
  font-family: "Press Start 2P", cursive;
  background-color: #271d26;
  margin: 5rem;
}
canvas {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 10rem;
  border: 2px solid var(--mainC);
}
.mainMenu {
  position: fixed;
  left: 15rem;
  top: 10rem;
  padding-top: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #271d26;
  color: var(--mainC);
  border: 2px solid var(--mainC);
  height: 500px;
}

.optionsMenu {
  position: fixed;
  right: 15rem;
  top: 10rem;
  padding-top: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #271d26;
  border: 2px solid var(--mainC);
  height: 500px;
  color: var(--mainC);
  width: 20rem;
}

.Music,
.Effects,
.speed {
  margin: 2rem 0;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.optionsMenu input {
  width: 100%;
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: var(--mainC);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid var(--mainC);
  height: 1.5rem;
  width: 2rem;
  background: #ff4655;
  cursor: pointer;
}

.play:hover,
.stop:hover,
.restart:hover,
.options:hover,
.quit:hover,
.optionsBack:hover {
  cursor: pointer;
  background-color: var(--mainC);
  color: black;
}
.mainBtns div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 1rem;
  width: 20rem;
  height: 2rem;
}
.secBtns div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 2rem;
  width: 20rem;
  height: 2rem;
}
.score {
  padding: 0 1rem;
  color: black;
  background-color: var(--mainC);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 20rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.optionsBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  margin-top: 4rem;
}
